body {
    /* Remove margins from body, so that background touches the edges */
    margin: 0px;
}

/* Set header and main content to a 960 width */
.width_960 {
    /* Use margin auto to set the width to the center of the page */
    margin: auto;
    width: 960px;
}

/* Set Heading font-family */
.heading_font {
  font-family: "Georgia", Times, "Times New Roman", serif;
}

/* Set all other font-family */
.other_font {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Stretch the background color to touch the top, right, and left edges of the screen */

.header-background {
  overflow: auto;
  background-color: #ffffff;
  background-position: top right;
  background-repeat: repeat-x;
  background-size: cover;
}

/* Make the header element sticky at the top of the page*/
.sticky {
    position: sticky;
    top: 0;
}

/* Create two columns that float next to each other */
.column {
  float: left;
}

/* Clear floats after the columns */
.header:after {
  clear: both;
  content: "";
  display: table;

}

/* Put the logo and link inside of the container */
.link_and_logo_container {
  position: relative;
  width: 960;
  overflow: auto;
  background-color: #ffffff;
}

/* Create a Logo - Green with White Text */
.logo {
  background-color: #4aaaa5;
  /* Add a left and right border to unsquish to logo */
  border-left: 10px solid #4aaaa5;
  border-right: 10px solid #4aaaa5;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.links {
  word-spacing: 10px;
  text-align: right;
  position: absolute;
  right: 0;
  display: inline-block;
  top: 45px;
}

.links a:hover {
  color: blue;
}

a {
  color: #777777;
  text-decoration-line: None;
}

.main_background {
  background-image: url("../images/triangle-mosaic.png");
  /* Set background color if image is not found */
  background-color: #ffffff;
  background-position: top right;
  background-repeat: repeat-x;
  background-size: cover;
  height: 90%;
}


.main_content {
  background-color: #ffffff;
  width: 950px;
  padding: 6px;
}

.about_me {
  color: #4aaaa5;
}

.footer {
    margin: 0;
    border-top: 10px solid #4aaaa5;

    padding: 10px;
    background-color: #666666;
    background-clip: border-box;
    text-align: center;
    /* Set padding-bottom to 0, to move text to the bottom of the element */
    padding-bottom: 0px;
    /* Set to -16px, to remove space from bottom of page to footer */
    margin-bottom: -16px;
}

/* ================================================== */
/* portfolio css */

/* Set the table cell height and width and make it the position relative, to place the portfolio img and name relative to it*/
td{
  height: 200px;
  width: 260px;
  position: relative;
}

/* Set the portfolio image size to 100% of the td */
.portfolio_img {
  height: 100%;
  width: 100%;
}

.portfolio_name {
  /* Add padding to the portfolio name so it looks like a button */
  padding: 10px;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  /* Set position to absolute and place the image a little above the bottom of the image it covers */
  position: absolute;
  bottom: 0;
  /* Set width to 240px to accommodate for the padding.  If it isn't set the element goes outside of the page if set to 100% or to 260px; */
  width: 240px;
}

.portfolio_name:hover {
  background-color: turquoise;
}

.portfolio_name:active {
  background-color: green;
  color: goldenrod
}

.rotate_90 {
  transform: rotate(90deg);
  width: 200px;
  height: 260px;
  /* When the picture is rotated it moves left on the screen outside of the cell covering the picture to the left of it.  I used position absolute to move it to the right.  But when I moved it right it also moved down, so I had to use the bottom element to get it to move back to the top.*/
  position: absolute;
  left: 31px;
  bottom: -25px;
}

.rotate_-90 {
  transform: rotate(-90deg);
  width: 200px;
  height: 260px;
  /* When the picture is rotate, it moves around on the screen and needs to be repositioned relative to the td */
  position: absolute;
  top: -30px;
  left: 31px;

}

/* ======================================================== */
/* Contact Info */

input[type=text], select {
  width: 100%;
  padding: 4px 8px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  color: white;
  padding: 10px 20px;
  margin: 12px 0;
  border: none;
  background-color: #4aaaa5;
  cursor: pointer;
}

textarea {
  height: 110px;
  width: 100%;
  padding: 4px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button:hover {
  background-color: turquoise;
}

.button:active {
  background-color: green;
  color: goldenrod
}
