body {
    /* Remove margins from body, so that background touches the edges */
    margin: 0px;
}

/* Set header and main content to a 960 width */
.width_960 {
    margin: auto;
    width: 960px;
}

/* Set Heading font-family */
.heading_font {
  font-family: "Georgia", Times, "Times New Roman", serif;
}

/* Set all other font-family */
.other_font {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Stretch the background color to touch the top, right, and left edges of the screen */

.header-background {
  overflow: auto;
  background-color: #ffffff;
  background-position: top right;
  background-repeat: repeat-x;
  background-size: cover;
}

/* Make the header element sticky at the top of the page*/
.sticky {
    position: sticky;
    top: 0;
}

/* Create two columns that float next to each other */
.column {
  float: left;
}

/* Clear floats after the columns */
.header:after {
  clear: both;
  content: "";
  display: table;

}
/* Put the logo and link inside of the container */
.link_and_logo_container {
  position: relative;
  width: 960;
  overflow: auto;
  background-color: #ffffff
}

/* Create a Logo - Green with White Text */
.logo {
  background-color: #4aaaa5;
  /* Add a left and right border to unsquish to logo */
  border-left: 10px solid #4aaaa5;
  border-right: 10px solid #4aaaa5;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.links {
  word-spacing: 10px;
  text-align: right;
  position: absolute;
  right: 0;
  display: inline-block;
  top: 45px;
}

.links a:hover {
  color: blue;
}

a {
  color: #777777;
  text-decoration-line: None;
}

.main_background {
  background-image: url("../images/triangle-mosaic.png");
  /* Set background color if image is not found */
  background-color: #ffffff;
  background-position: top right;
  background-repeat: repeat-x;
  background-size: cover;
}


.main_content {
  background-color: #ffffff;
  padding: 10px;
  width: 960px;
}

.about_me {
  color: #4aaaa5;
}

img.top {
  vertical-align: text-top;
  height: 200px;
  width: 200px;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}

.footer {
    margin: 0;
    border-top: 10px solid #4aaaa5;

    padding: 10px;
    background-color: #666666;
    background-clip: border-box;
    text-align: center;
    padding-bottom: 0;
}